<section class="section">
    <h2 class="section__title reviews__title">Відгуки про нас</h2>

    <div class="slider multiple-items container">
        <div>
            <img class="reviews__image" src="./images/reviews/f09.jpg" alt="">
        </div>
        <div>
            <img class="reviews__image" src="./images/reviews/f10.jpg" alt="">
        </div>
        <div>
            <img class="reviews__image" src="./images/reviews/f08.jpg" alt="">
        </div>
        <div>
            <img class="reviews__image" src="./images/reviews/f07.jpg" alt="">
        </div>
        <div>
            <img class="reviews__image" src="./images/reviews/f06.jpg" alt="">
        </div>
        <div>
            <img class="reviews__image" src="./images/reviews/f05.jpg" alt="">
        </div>
        <div>
            <img class="reviews__image" src="./images/reviews/f04.jpg" alt="">
        </div>
        <div>
            <img class="reviews__image" src="./images/reviews/f03.jpg" alt="">
        </div>
        <div>
            <img class="reviews__image" src="./images/reviews/f02.jpg" alt="">
        </div>
        <div>
            <img class="reviews__image" src="./images/reviews/f01.jpg" alt="">
        </div>

      </div>
</section>
    


<section class="section section-details-background">
    <div class="container">
        <h2 class="section__title">Наші переваги</h2>
        <ul class="details">
            <li class="details__item">
                <div class="details__item-box">
                    <svg class="details__item-image">
                        <use href="./images/icons/amulets-svg.svg#amulet"></use>
                    </svg>
                </div>
                <h3 class="details__item-title">Висока якість наших амулетів</h3>            </li>
            <li class="details__item">
                <div class="details__item-box">
                    <svg class="details__item-image">
                        <use href="./images/icons/mountains.svg#Layer_1"></use>
                    </svg>
                </div>
                <h3 class="details__item-title">Ми єдині представники "Тібетських амулетів" в Україні</h3>            </li>
            <li class="details__item">
                <div class="details__item-box">
                    <svg class="details__item-image">
                        <use href="./images/icons/crystal-ball.svg#Layer_1"></use>
                    </svg>
                </div>
                <h3 class="details__item-title">Наші амулети дійсно працюють </h3>
            </li>
            <li class="details__item">
                <div class="details__item-box">
                    <svg class="details__item-image">
                        <use href="./images/icons/presentation.svg#Layer_1"></use>
                    </svg>
                </div>
                <h3 class="details__item-title">1000+ задоволених кліентів та три роки роботи в Україні </h3>            </li>
        </ul>
    </div>
</section>

