<section class="section grups">
    <div class="container">
        <h2 class="section__title">Амулети</h2>
        <ul class="grups-list">
            <li class="grups-item">

                <div class="grups-box">
                    <img class="grups-image" src="./images/amulets/a1.jpg" alt="">
                    <h3 class="grups-name">Амулет "Пентакль Соломона"</h3>
                    <ul class="grups-name-list">
                        <li class="grups-name-item"><p class="grups-post">допомогає в повсякденному житті</p></li>
                        <li class="grups-name-item"><p class="grups-post">оберігає від негативної енергетики</p></li>
                        <li class="grups-name-item"><p class="grups-post">здатний впливати на перебіг подій</p></li>
                        <li class="grups-name-item"><p class="grups-post">привертає увагу Фортуни до господаря</p></li>
                    </ul>
                    <button data-modal-open class="btn grups-box-price" type="button">Купити за 599 грн</button>
                </div>
            </li>
            <li class="grups-item">

                <div class="grups-box">
                    <img class="grups-image" src="./images/amulets/a2.jpg" alt="">
                    <h3 class="grups-name">Амулет "Нерозмінна монета"</h3>
                    <ul class="grups-name-list">
                        <li class="grups-name-item"><p class="grups-post">допомагає зберігти ваші кошти та майно</p></li>
                        <li class="grups-name-item"><p class="grups-post">відкриває нові можливості прибутку</p></li>
                        <li class="grups-name-item"><p class="grups-post">захищає від заговорів та чорної магії</p></li>
                        <li class="grups-name-item"><p class="grups-post">швидке просування кар'єрними сходами</p></li>
                    </ul>
                    <button data-modal-open class="btn grups-box-price" type="button">Купити за 650 грн</button>
                </div>
            </li>
            <li class="grups-item">

                <div class="grups-box">
                    <img class="grups-image" src="./images/amulets/a3.jpg" alt="">
                    <h3 class="grups-name">Індивідуальний амулет</h3>
                    <ul class="grups-name-list">
                        <li class="grups-name-item"><p class="grups-post">індивідуальне захисне поле</p></li>
                        <li class="grups-name-item"><p class="grups-post">гравірування на удачу та богатство</p></li>
                        <li class="grups-name-item"><p class="grups-post">захист від будь-якої чорної магії</p></li>
                        <li class="grups-name-item"><p class="grups-post">заговорювання під вашого Янгола-охоронця</p></li>
                    </ul>
                    <button data-modal-open class="btn grups-box-price" type="button">Уточнити ціну</button>
                </div>
            </li>
        </ul>
    </div>
</section>