<section class="section section-programs">
    <div class="container">
            <ul class="portfolio__list">

                <li class="portfolio__item">
                    <div class="portfolio__item-box">
                        
                        <img class="portfolio__item-box-image"
                        src="./images/about-amulet/karma.jpg"  
                        alt="Веб-сайт" width="370">

                        <div class="portfolio__image-box">
                            <p class="portfolio__image-text">Спочатку головним призначенням аксесуарів був захист від виникнення негативної карми. Під впливом демонічних сил люди не тільки терпіли невдачі, а й чинили злочини, заздрили та бажали зла ближнім. Саме від цього і оберігає амулет. </p>
                        </div>
                    </div>
                    <div class="portfolio__description-box">
                        <h3 class="portfolio__description-title">Навіщо вам потрібен амулет?</h3>
                        <p class="portfolio__description-text">Призначення оберегів.</p>
                    </div>
                </li>

                <li class="portfolio__item">
                    <div class="portfolio__item-box">
                        
                         <img class="portfolio__item-box-image"
                         src="./images/about-amulet/buddas.jpg" 
                        alt="Веб-сайт" width="370">

                        <div class="portfolio__image-box">
                            <p class="portfolio__image-text">Амулети може використовувати людина, яка не сповідає буддизм чи індуїзм. Зображені на оберегах знаки вважаються священними всім людей незалежно від віросповідання. </p>
                        </div>
                    </div>
                    <div class="portfolio__description-box">
                        <h3 class="portfolio__description-title">Амулети тільки для буддистів?</h3>
                        <p class="portfolio__description-text">Розвіюємо міф.</p>
                    </div>
                </li>


                <li class="portfolio__item">
                    <div class="portfolio__item-box">
                        
                        <img class="portfolio__item-box-image"
                        src="./images/about-amulet/magic-amulet-hand.jpg" 
                        alt="Веб-сайт" width="370">

                        <div class="portfolio__image-box">
                            <p class="portfolio__image-text">Амулети змушують переосмислювати події, що відбуваються, відчувати відповідальність за свої вчинки. Задоволення приносить не багатство, а можливість допомогти комусь. </p>
                        </div>
                    </div>
                    <div class="portfolio__description-box">
                        <h3 class="portfolio__description-title">Принцип дії амулета</h3>
                        <p class="portfolio__description-text">Тибетські сакральні символи.</p>
                    </div>
                </li>

                <li class="portfolio__item">
                    <div class="portfolio__item-box">
                        
                        <img class="portfolio__item-box-image"
                        src="./images/about-amulet/black-magic.jpg" 
                        alt="Веб-сайт" width="370">

                        <div class="portfolio__image-box">
                            <p class="portfolio__image-text">Оберігають від негативного впливу. Священні знаки не дозволяють ворогам завдавати шкоди, сприяють припиненню небезпечних стосунків.
                                Залучають сприятливі можливості. </p>
                        </div>
                    </div>
                    <div class="portfolio__description-box">
                        <h3 class="portfolio__description-title">Властивості оберіга</h3>
                        <p class="portfolio__description-text">Захист від чорної магії.</p>
                    </div>
                </li>

                <li class="portfolio__item">
                    <div class="portfolio__item-box">
                       
                        <img class="portfolio__item-box-image"
                        src="./images/about-amulet/luck.jpg" 
                        alt="Веб-сайт" width="370">

                        <div class="portfolio__image-box">
                            <p class="portfolio__image-text">Талісман на успіх у всіх справах здатний переламати перебіг подій і привернути увагу Фортуни до його носія. Людина, яка володіє таким амулетом, на іспиті витягне щасливий квиток, займе привабливу вакансію, виграє до лотереї, отримає тендер, за який безуспішно борються інші претенденти. </p>
                        </div>
                    </div>
                    <div class="portfolio__description-box">
                        <h3 class="portfolio__description-title">Потужні талісмани на удачу</h3>
                        <p class="portfolio__description-text">Як привернути удачу?</p>
                    </div>
                </li>

                <li class="portfolio__item">
                    <div class="portfolio__item-box">
                        
                        <img class="portfolio__item-box-image"
                        src="./images/about-amulet/red-israel.jpg" 
                        alt="Веб-сайт" width="370">

                        <div class="portfolio__image-box">
                            <p class="portfolio__image-text">Зовнішньо – це звичайна червона вовняна нитка, яку пов'язують на ліве зап'ястя. Це можна робити навіть новонародженим. Справжні Нитки удачі, заряджені біля гробниці Рахелі, продають в Ізраїлі біля Стіни Плачу. Втім, обізнаний езотерик може зарядити подібним чином будь-яку нитку.</p>
                        </div>
                    </div>
                    <div class="portfolio__description-box">
                        <h3 class="portfolio__description-title">Ізраїльська червона нитка</h3>
                        <p class="portfolio__description-text">Навіщо потрібна?</p>
                    </div>
                </li>

                <li class="portfolio__item">
                    <div class="portfolio__item-box">

                        <img class="portfolio__item-box-image"
                        src="./images/about-amulet/history.jpg" 
                        alt="Веб-сайт" width="370">

                        <div class="portfolio__image-box">
                            <p class="portfolio__image-text">Застосовувати талісмани на Тибеті почали ще до нашої ери. Усі символи мають власну історію походження. Багато священних знаків прийшли з буддизму і поширеної на Сході релігії Бон. Мешканці Тибету могли одночасно носити велику кількість прикрас.</p>
                        </div>
                    </div>
                    <div class="portfolio__description-box _box-padding">
                        <h3 class="portfolio__description-title">Походження талісманів</h3>
                        <p class="portfolio__description-text">Історія "Тибетських амулетів".</p>
                    </div>
                </li>


                <li class="portfolio__item">
                    <div class="portfolio__item-box">
                       
                        <img class="portfolio__item-box-image"
                        src="./images/about-amulet/kitajskij-amulet.jpg" 
                        alt="Веб-сайт" width="370">

                        <div class="portfolio__image-box">
                            <p class="portfolio__image-text">Тибетський амулет виконаний у вигляді кола, оскільки така форма символізує функції оберега. Всередину вписано за допомогою магічних символів ім'я божества, який відповідає за статки та фінансові блага — Вайшравана. </p>
                        </div>
                    </div>
                    <div class="portfolio__description-box">
                        <h3 class="portfolio__description-title">Чому амулет має форму круга?</h3>
                        <p class="portfolio__description-text">Форма амулету.</p>
                    </div>
                </li>

                <li class="portfolio__item">
                    <div class="portfolio__item-box">
                       
                        <img class="portfolio__item-box-image"
                        src="./images/about-amulet/latun.jpg" 
                        alt="Веб-сайт" width="370">

                        <div class="portfolio__image-box">
                            <p class="portfolio__image-text">Виготовляють амулет зазвичай зі латуні, причому практики Тибету вважають, що це чоловічий метал. А також цей матеріал дуже зносостійкий.</p>
                        </div>
                    </div>
                    <div class="portfolio__description-box">
                        <h3 class="portfolio__description-title">З якого матеріалу амулети?</h3>
                        <p class="portfolio__description-text">Чому саме латунь?</p>
                    </div>
                </li>

                <!-- <li class="portfolio__item">
                    <div class="portfolio__item-box">
                        
                        <img class="portfolio__item-box-image"
                        src="./images/kurs-program/image9.jpg" 
                        alt="Веб-сайт" width="370">

                        <div class="portfolio__image-box">
                            <p class="portfolio__image-text">Вчимось тримати себе в кадрі та працювати з мікрофоном! </p>
                        </div>
                    </div>
                    <div class="portfolio__description-box">
                        <h3 class="portfolio__description-title">Камера та мікрофон</h3>
                        <p class="portfolio__description-text">Камера та мікрофон – кращий друг оратора.</p>
                    </div>
                </li>

                <li class="portfolio__item">
                    <div class="portfolio__item-box">
                        
                        <img class="portfolio__item-box-image"
                        src="./images/kurs-program/image10.jpg"  
                        alt="Веб-сайт" width="370">

                        <div class="portfolio__image-box">
                            <p class="portfolio__image-text">Прокачуємо акторські навички. Прибираємо зажими та стаємо більш розкутими! </p>
                        </div>
                    </div>
                    <div class="portfolio__description-box">
                        <h3 class="portfolio__description-title">Акторський тренінг</h3>
                        <p class="portfolio__description-text">Акторський тренінг: сам собі режисер та актор.</p>
                    </div>
                </li>

                <li class="portfolio__item">
                    <div class="portfolio__item-box">
                        
                        <img class="portfolio__item-box-image"
                        src="./images/kurs-program/image12.jpg" 
                        alt="Веб-сайт" width="370">

                        <div class="portfolio__image-box">
                            <p class="portfolio__image-text">Інтернет платформи, які відкривають нові горизонти.</p>
                        </div>
                    </div>
                    <div class="portfolio__description-box">
                        <h3 class="portfolio__description-title">Ораторські навички </h3>
                        <p class="portfolio__description-text">Відпрацювання всіх ораторських вмінь та навичок.</p>
                    </div>
                </li> -->

            </ul>


    </div>
</section>